@{
    ViewData["Title"] = "Trang Chủ";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ManaPet</h1>
    <p>Sơ lược về Pet House</p>
    <p>
        Pet House là trại nhân giống thú cảnh lớn tại Việt Nam và đồng thời là hệ thống cửa hàng cung cấp phụ kiện, dịch vụ chăm sóc làm đẹp thú cưng & khách sạn thú cưng.
    </p>
    <p>
        
        
        Với sự đa dạng về các giống chó mèo cảnh, chúng tôi đảm bảo chất lượng con giống, nguồn gen chuẩn cùng quy trình nhân giống chuyên nghiệp. Tại Pet House, các con giống đều là dòng thuần chủng, được chăm sóc kỹ lưỡng và có sức khỏe tốt, sẵn sàng về nhà mới.

        Tìm hiểu chi tiết
    </p>
</div>
